astroid==2.15.8
attrs==25.4.0
Babel==2.9.1
beautifulsoup4==4.14.3
cached-property==2.0.1
certifi==2026.1.4
cffi==2.0.0
chardet==4.0.0
colorama==0.4.6
cryptography==3.4.8
decorator==4.4.2
docopt==0.6.2
docutils==0.17
ebaysdk==2.1.5
freezegun==1.1.0
geoip2==2.9.0
idna==2.10
isodate==0.7.2
Jinja2==3.0.3
lazy-object-proxy==1.12.0
libsass==0.20.1
lxml==4.8.0
MarkupSafe==2.0.1
maxminddb==3.0.0
num2words==0.5.10
ofxparse==0.21
passlib==1.7.4
Pillow==9.0.1
platformdirs==4.5.1
polib==1.1.1
psutil==5.9.0
psycopg2==2.9.2
pycparser==3.0
pydot==1.4.2
pyOpenSSL==21.0.0
pyparsing==3.3.2
PyPDF2==1.26.0
pypiwin32==223
pyserial==3.5
python-dateutil==2.8.1
python-stdnum==1.17
pytz==2025.2
pyusb==1.2.1
pywin32==311
qrcode==7.3.1
reportlab==3.6.8
requests==2.25.1
requests-file==3.0.1
requests-toolbelt==1.0.0
rjsmin==1.1.0
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==1.26.5
vobject==0.9.6.1
Werkzeug==2.0.2
wrapt==1.17.3
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
zeep==4.1.0
